.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex: 20%;
    background-color: lightgray;
}
.menu{
    flex: 5%;
    background-color: darkgray;
}
.content{
    flex: 70%;
    background-color: white;
}
.content iframe{
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;
}
.footer{
    flex: 5%;
    background-color: lightgray;
}

h1 {
  color: red;
}
.tieude { 
  color: red;
  font-weight: bold;
  font-size: 20pt;
}
.noidung { 
  color: black;
  font-weight: normal;
  font-size: 16pt;
}
